*{
    margin: 0;
    padding: 0;
}

.phai a {
    color: #f8f9fa;
    font-size: 30px;
    text-decoration: none;
    padding: 0px 40px;
    text-transform: uppercase;
    font-size: 19px;
}

.menu {
    background: #80808054;
    padding: 41px 0px;
    /* display: block; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
    z-index: 2;
}
.nholai {
    font-size: 20px;
    padding: 15px 0px;
}
.col-2 {
    padding-top: 10px;
    display:block;
}