*{
    margin: 0;
    padding: 0;
}

.menu {
    height: 50px;
    line-height: 50px;
    background: #c22121;
    /* color: white; */
}

.menu a {
    color: white;
    padding: 0px 30px;
    text-transform: uppercase;
    text-decoration: none;
}
.banner{
    height: 100px;
    background: url(img/1.jpg) ; 
    background-size: cover;
}