*{
    margin: 0;
    padding: 0;
}


html, body {
    
height: 100%;
}
.menutren {

position: fixed;

top: 0px;

text-align: center;

width: 100%;

background: #242527;
}
.noidungchinh{
    margin-top: 63px;
    height: 100%;
}
.noidungchinh .trai {

float: left;

width: 30%;

height: 101%;
}
.trai img {position: fixed;left: 0;}
.noidungchinh .giua{

float: left;

width: 40%;

background: #18191b;
}
.motkhoi{
    width: 100%;
    margin-left: 8px;
    /* background: #18191b; */
}
.motkhoi .avatar{
    margin: 10px 10px;
    height: 70px;
    /* background: #18191b; */
}
.motkhoi .avatar .avaleft{
    float: left;
    width: 10%;
}

.avaleft img {
    /* font-size: 70px; */
    width: 70px;
    border-radius: 50%;
}
.motkhoi .avatar .avaright{
    float: left;
    color: #e2e3e7;
    width: 80%;
}
.motkhoi .cacanh {}
.cacanh .motanhtren {
    width: 100%;
}
.cacanh ._3anhduoi {margin-top: 2px;display: flex;}

._3anhduoi img {
    width: 33%;
    margin-right: 2px;
}
.noidungchinh .phai{float: left;width: 30%;}
.motkhoi img {
    cursor: pointer;
}
.phai img {
    position: fixed;
    right: 0;
}
.date {
    color: #66676b;
}