*{
    margin: 0;
    padding: 0;
}
.chieu1{
    animation: chieu1  2s forwards !important;
}
@-webkit-keyframes chieu1 {
    0% {transform: translateX(0px) translateY(0px); }
    50% {transform: translateX(100px) translateY(200px); }
    100% {transform: translateX(200px) translateY(200px); } 
}
#kcd {
    animation: chieu2 2s forwards;
}
@-webkit-keyframes chieu2 {
    100% {transform: translateX(0px) translateY(0px); }
    50% {transform: translateX(100px) translateY(200px); }
    0% {transform: translateX(200px) translateY(200px); } 
}
.ko-dong {
    animation:none!important;
}