*{
    margin: 0;
    padding: 0;
}

li.list-group-item:hover {
    background-color: gray;
}

.danhsach {
    position: absolute;
    right: -9px;
    top: 33px;
    width: 200px;
    opacity: 0;
    transition: 0.4s;


}
.xuathien {

    opacity: 1;



}


.declick {
    color: black;
    font-size: 22px;
    transition: 0.4s;
    cursor: pointer;
}
.mautrang {
    color: white;
}

.motphantu {
    position: relative;
    float: left;
    margin-right: 100px;
}

.thanhxanh {background: #3b5998;height: 33px;padding-left: 600px;}
.danhsach:after {
    content: "";
    position: absolute;
    top: -15px;
    right: 8px;
    width: 0;
    height: 3px;
    border: 8px #ffd70000 solid;
    border-bottom-color: white;
}
